
@{
    ViewBag.Title = "nour";
    
 
}

<h2>nour</h2>

<a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href></a>
<p id="data"></p>
<script src="~/js/JavaScript.js"></script>